body {
  margin: 0;
  background: #f5f5f5;
  font-family: serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  text-align: center;
  max-width: 600px;
}

img {
  max-width: 100%;
  margin-top: 20px;
}

.nav {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}
